<!-- Confirmed Card -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Confirmed</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cards.confirmed }}</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-user-check fa-2x text-gray-500"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PUIs Card -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">PUIs</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">259</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-user-tag fa-2x text-gray-500"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recovered Card -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Recovered</div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cards.recovered }}</div>
                        </div>
                        <div class="col">
                            <div class="progress progress-sm mr-2">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 2%"
                                    aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-user-clock fa-2x text-gray-500"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Deaths -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Deaths</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cards.dead }}</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-skull fa-2x text-gray-500"></i>
                </div>
            </div>
        </div>
    </div>
</div>