{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>
    <!-- Content Row -->
    <div class="row">
        {% include 'dashboard/cards.html' %}
    </div>
    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        {% include 'dashboard/line_charts.html' %}

        <!-- Pie Chart -->
        {% include 'dashboard/pie_chart.html' %}
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Case by Age Group</h6>
                </div>
                <div class="card-body">
                    <!-- <div class="card-body">
                        <div class="chart-area">
                            <canvas id="ageChart"></canvas>
                        </div>
                    </div> -->
                    <div class="chart-area">
                        <canvas id="ageChart"></canvas>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Case by Sex</h6>
                </div>
                <div class="card-body">
                    <!-- Card Body -->
                    <!-- <div class="card-body"> -->
                        <div class="chart-area">
                            <canvas id="sexChart"></canvas>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock content %}