{% extends 'dashboard/base.html' %}
{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-6">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">COVID-19 Philippine Cases </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="overflow: hidden;">
                <table class="table table-bordered vertical-align" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <th>Case / Age / Sex </th>
                        <th>Nationality</th>
                        <th>Admitted To</th>
                        <th>Status</th>
                        <th>Transmission</th>
                        <th>Since</th>
                        <th>Info</th>
                    </thead>
                    <tfoot>
                        <th>Case / Age / Sex </th>
                        <th>Nationality</th>
                        <th>Admitted To</th>
                        <th>Status</th>
                        <th>Transmission</th>
                        <th>Since</th>
                        <th>Info</th>
                    </tfoot>
                    <tbody>
                        {{ patients.dict_output|json_script:"patients-data" }}
                        {% for patient in patients.output %}
                            {% if patient.status == 'dead' %}
                                <!-- DECEASED -->
                                <tr id="deceased" style="background-color: #fed7d7;">
                                    <td class="align-middle">
                                        <span class="text" style="font-weight: bold;">
                                            {{ patient.case_number }}
                                        </span><br>
                                        <span class="text" id="age">{{ patient.age }} years old</span> /
                                        <span class="text" id="gender">{% if patient.sex == 'M' %}Male{% else %}Female{% endif %}</span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text" style="font-weight: bold;">{{ patient.nationality }}</span><br>
                                        <span class="text">{{ patient.residence_city_mun }}</span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text" style="font-weight: bold;">{{ patient.admitted_to }}</span><br>
                                        <!-- <span class="text">{{ patient.admitted_to.address }}</span> -->
                                    </td>
                                    <td class="align-middle">
                                        <i class="fas fa-user-times"></i>
                                        <span class="text" style="font-weight: bold; color: red;">Deceased</span>
                                    </td>
                                    <td class="align-middle" style="font-weight: bold;">
                                        {% if patient.country_visited_0 == '' or  patient.country_visited_0 == 'None'%}
                                        Local
                                        {% else %}
                                        Imported
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">{{ patient.lab_confirmation_date }}</td>
                                    <td class="align-middle">
                                        <a href="#" class="btn btn-primary btn-icon-split btn-sm" onclick="fcn('{{ patient.case_number|slugify }}');">
                                        <!-- <a class="btn btn-primary btn-icon-split btn-sm"> -->
                                            <span class="icon text-white-50">
                                                <i class="fas fa-info-circle"></i>
                                            </span>
                                            <span class="text">Information</span>
                                        </a>
                                    </td>
                                </tr>
                                <!-- DECEASED -->
                                {% elif patient.status == 'recovered' %}
                                <tr id="recovered" style="background-color: #CCFFCC;">
                                    <td class="align-middle">
                                        <span class="text" style="font-weight: bold;">
                                            {{ patient.case_number }}
                                        </span><br>
                                        <span class="text" id="age">{{ patient.age }} years old</span> /
                                        <span class="text" id="gender">{% if patient.sex == 'M' %}Male{% else %}Female{% endif %}</span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text" style="font-weight: bold;">{{ patient.nationality }}</span><br>
                                        <span class="text">{{ patient.residence_city_mun }}</span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text" style="font-weight: bold;">{{ patient.admitted_to }}</span><br>
                                        <!-- <span class="text">{{ patient.admitted_to.address }}</span> -->
                                    </td>
                                    <td class="align-middle">
                                        <i class="fas fa-user-check"></i>
                                        <span class="text" style="font-weight: bold; color: green;">Recovered</span>
                                    </td>
                                    <td class="align-middle" style="font-weight: bold;">
                                        {% if patient.country_visited_0 == '' or  patient.country_visited_0 == 'None'%}
                                        Local
                                        {% else %}
                                        Imported
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">{{ patient.lab_confirmation_date }}</td>
                                    <td class="align-middle">
                                        <a href="#" class="btn btn-primary btn-icon-split btn-sm" onclick="fcn('{{ patient.case_number|slugify }}');">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-info-circle"></i>
                                            </span>
                                            <span class="text">Information</span>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr id="admitted">
                                    <td class="align-middle">
                                        <span class="text" style="font-weight: bold;">
                                            {{ patient.case_number }}
                                        </span><br>
                                        <span class="text" id="age">{{ patient.age }} years old</span> /
                                        <span class="text" id="gender">{% if patient.sex == 'M' %}Male{% else %}Female{% endif %}</span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text" style="font-weight: bold;">{{ patient.nationality }}</span><br>
                                        <span class="text">{{ patient.residence_city_mun }}</span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text" style="font-weight: bold;">{{ patient.admitted_to }}</span><br>
                                        <!-- <span class="text">{{ patient.admitted_to.address }}</span> -->
                                    </td>
                                    <td class="align-middle">
                                        <i class="fas fa-user-clock"></i>
                                        <span class="text" style="font-weight: bold;">Admitted</span>
                                    </td>
                                    <td class="align-middle" style="font-weight: bold;">
                                        {% if patient.country_visited_0 == '' or  patient.country_visited_0 == 'None'%}
                                        Local
                                        {% else %}
                                        Imported
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">{{ patient.lab_confirmation_date }}</td>
                                    <td class="align-middle">
                                        <a href="#" class="btn btn-primary btn-icon-split btn-sm" onclick="fcn('{{ patient.case_number|slugify }}');">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-info-circle"></i>
                                            </span>
                                            <span class="text">Information</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

                <!-- The Modal -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-xl modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header" style="background-color: #4e73df;">
                                
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- The Modal -->
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->


<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- </body> -->
{% endblock %}